body {
    position: relative;
}

.christmas::before {
    content: "";
    width: 200px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/christmas/elka.png");
    z-index: 499;
}
@media (max-width: 1000px) {
    .header__burger {
        justify-self: end;
    }
}

.garlend {
    position: absolute;
    top: 0;
    left: 0;
    height: 36px;
    width: 100%;
    background-image: url("../images/christmas/christmas.png");
    z-index: 500;
}

.garlend_1 {
    background-position: 0 0;
}

.garlend_2 {
    background-position: 0 -36px;
}

.garlend_3 {
    background-position: 0 -72px;
}

.garlend_4 {
    background-position: 0 -108px;
}
