.features {
    background-color: var(--second-bg-color);
    padding: 40px 0;
    color: var(--main-color);
}
.features__list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.features__item {
    flex-basis: 236px;
    padding-top: 115px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.04em;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100px;
}
.features__item_one {
    background-image: var(--url-featres-one);
}
.features__item_two {
    background-image: var(--url-featres-two);
}
.features__item_free {
    background-image: var(--url-featres-three);
}
.features__item_four {
    background-image: var(--url-featres-four);
}
@media (max-width: 1200px) {
    .features__item {
        flex-basis: 190px;
        font-size: 16px;
        padding-top: 90px;
        background-size: 80px;
    }
}
@media (max-width: 1000px) {
    .features__item {
        flex-basis: 162px;
        font-size: 14px;
        padding-top: 70px;
        background-size: 60px;
    }
    .features__list {
        gap: 14px;
    }
}
@media (max-width: 760px) {
    .features__item {
        flex-basis: 200px;
    }
    .features__list {
        justify-content: space-around;
        gap: 20px 54px;
        flex-wrap: wrap;
    }
}
@media (max-width: 580px) {
    .features__item {
        flex-basis: 46%;
        font-size: 12px;
        padding-top: 55px;
        background-size: 50px;
    }
    .features__list {
        gap: 20px 24px;
    }
}
