.timer {
    position: sticky;
    left: 0;
    right: 0px;
    top: 0px;
    padding: 20px;
    color: var(--main-color);
    background-color: var(--second-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.04em;
    display: flex;
    justify-content: center;
    z-index: 10;
}
@media (max-width: 1200px) {
    .timer {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .timer {
        font-size: 14px;
    }
}
@media (max-width: 580px) {
    .timer {
        font-size: 12px;
    }
    .timer {
        display: block;
    }
}
